html {
  font-family: font-family: "Trispace", sans-serif;
  background-color: #00FF00;
  height: 100%;
}


h1{
  text-align: center;
  color: #172DF2;
  font-size: 40px;
}

h2{
  text-align: center;
  color: #2F44CD;
  font-size: 17px;
  padding: 10px;
}

p{
  color: black;
}



div{
  border: 5px solid rgb(245, 12, 12);
  color: black;
  border-radius: 10px;
  width: 250px;
  flex-direction: column;
  margin: 50px;
  padding: 10px;
  font-weight: bold;
  display: inline-flex;
  margin-left: 100px;
}

a{
  text-decoration: none;
  color: #172DF2;
}


a:hover{color: red;}



